@font-face {
  font-family: 'Figtree';
  src:
    url('Figtree-ExtraBold.woff2') format('woff2'),
    url('Figtree-ExtraBold.woff') format('woff');
  
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src:
      url('Figtree-Medium.woff2') format('woff2'),
      url('Figtree-Medium.woff') format('woff');
    
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}