@font-face {
  font-family: 'Figtree';
  src:
    url("../fonts/Figtree-Medium.woff2") format("woff2"),
    url("../fonts/Figtree-ExtraBold.woff") format("woff");
  
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src:
      url("../fonts/Figtree-ExtraBold.ttf") format("woff2"),
      url("../fonts/Figtree-ExtraBold.woff") format("woff");
    
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}