:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);

  /* @link https://utopia.fyi/type/calculator?c=360,15,1.2,1240,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --size--2: clamp(0.651rem, 0.6228rem + 0.1254vw, 0.72rem);
  --size--1: clamp(0.7813rem, 0.7327rem + 0.2159vw, 0.9rem);
  --size-0: clamp(0.9375rem, 0.8608rem + 0.3409vw, 1.125rem);
  --size-1: clamp(1.125rem, 1.0099rem + 0.5114vw, 1.4063rem);
  --size-2: clamp(1.35rem, 1.1832rem + 0.7415vw, 1.7578rem);
  --size-3: clamp(1.62rem, 1.3838rem + 1.0496vw, 2.1973rem);
  --size-4: clamp(1.944rem, 1.6157rem + 1.4592vw, 2.7466rem);
  --size-5: clamp(2.3328rem, 1.8826rem + 2.0008vw, 3.4332rem);
}